main {
  margin: 0 auto;
  max-width: 1280px;
}

.todo-list {
}

.todo {
    display: grid;
    margin: 4px 0;
    gap: 5px;
    grid-template-columns: 3fr 1fr;
}

.content {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    grid-column-start: 1;
}

.description {
    grid-column-start: 2;
}

.deadline {
    grid-column-start: 3;
}

.buttons {
    display: flex;
    flex-direction: row;
}
